/* Estilos generales */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(134, 134, 216);
  }
  
  /* Estilos para la animación Lottie */
  
  .lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 2rem;
  }
  
  /* Estilos para el formulario */
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  